.blobContainer {
    width: 100vw;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  .circle {
    border-radius: 50%;
    opacity: .6;
    /* filter: blur(35px) */
  }

  /* .circle lightOffWhite {
    background-color: aliceblue;
  } */

  .color1 {
    color:lightpink;
    background: 
    linear-gradient(144deg, rgba(238, 116, 9, 0.952), rgba(224, 245, 37, 0.889)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.36' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    /* background: radial-gradient(circle at 30% 90%, rgba(243, 75, 156, 15), rgba(0, 0, 0, 0 )), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='1.3'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E"); */
  }

  .color2 {
    /* color:rgb(125, 212, 243); */
    filter: contrast(180%) brightness(250%);
    background: radial-gradient(circle at 30% 90%, rgba(243, 75, 156, 15), rgba(0, 0, 0, 0)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='1.3'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E");
    /* background: 
    linear-gradient(144deg, rgba(125,212,243,0.43), rgba(249,124,181,0.85)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.36' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  }

  .color3 {
    color:rgb(44, 230, 243);
    background: 
    linear-gradient(144deg, rgba(9, 173, 238, 0.952), rgba(132, 221, 233, 0.889)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.36' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
  


    @keyframes left-to-right {
    0% {      
      transform: translateX(0);
    } 
    25% {
      transform: translateY(50%) translateX(25%);
    }      
    50% {
      transform: translateX(100%) translateY(25%);
    }
    75% {
      transform: translateX(50%);
    }      
    100% {
      transform: translateX(0);
    }                 
    }

    @keyframes right-to-left {
      0% {      
        transform: translateX(0) translateY(0);
      } 
      16% {
        transform: translateX(100%) translateY(100%);
      }      
      33% {
        transform: translateX(30%) translateY(65%);        
      }
      50% {
        transform: translateX(-50%) translateY(75%);
      }
      66% {
        transform: translateX(40%) translateY(55%);
      }

      83% {
        transform: translateX(85%) translateY(35%);
      }       
      
      100% {
        transform: translateX(0) translateY(0);
      }                 
      }

  #circle_1 {
    height: 55vw;
    width: 55vw;
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: -1;
    animation: left-to-right 110s linear forwards infinite;    
  }

  #circle_2 {
    height: 45vw;
    width: 45vw;
    position: fixed;
    top: 35%;
    left: 45%;
    z-index: -2;
    animation: left-to-right 130s linear forwards infinite;
  }

  #circle_3 {
    height: 25vw;
    width: 25vw;
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: -2;
    animation: right-to-left 216s linear forwards infinite;
  }
  
  #circle_4 {
    height: 45vw;
    width: 35vw;
    position: absolute;
    top: 15%;
    left: 60%;
    z-index: -3;
    animation: left-to-right 190s linear backwards infinite;
    }

  #circle_5 {
    height: 25vw;
    width: 25vw;
    position: absolute;
    top: 40%;
    left: -8%;
    z-index: -3;
    animation: right-to-left 390s linear backwards infinite;
  }
  
  #circle_6 {
    height: 25vw;
    width: 25vw;
    position: fixed;
    top: 15%;
    left: 80%;
    z-index: -3;
    animation: left-to-right 190s linear backwards infinite;
  }

  #circle_7 {
    height: 15vw;
    width: 15vw;
    position: absolute;
    top: 8%;
    left: -2%;
    z-index: -4;
    animation: right-to-left 210s linear backwards infinite;
  }
  
  #circle_8 {
    height: 25vw;
    width: 25vw;
    position: absolute;
    top: 105%;
    left: 72%;
    z-index: -3;
    filter: contrast(200%) brightness(250%);  
    background: radial-gradient(circle at 30% 90%, rgba(243, 75, 156, 15), rgba(0, 0, 0, 0 )), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='1.3'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E");
  }

  #circle_9 {
    height: 70vw;
    width: 70vw;
    position: absolute;
    top: 53%;
    left: 35%;    
    z-index: -1;    
    animation: right-to-left 310s linear backwards infinite;
  }

  #circle_10 {
    height: 20vw;
    width: 20vw;
    position: absolute;
    top: 85%;
    left: 5.5%;
    z-index: -5;
  }

  #circle_11 {
    height: 40vw;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 55%;
    z-index: -5;
  }

  #circle_12 {
    height: 20vw;
    width: 20vw;
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: -5;
  }
  #circle_13 {
    height: 50vw;
    width: 50vw;
    position: absolute;
    top: 60%;
    left: 35%;
    z-index: -5;
    animation: left-to-right 390s linear backwards infinite;
  }
  
  #circle_14 {
    height: 30vw;
    width: 30vw;
    position: absolute;
    top: 65%;
    left: 5%;
    z-index: -5;
  }
  #circle_15 {
    height: 40vw;
    width: 60vw;
    position: absolute;
    top: 75%;
    left: 55%;
    z-index: -5;
  }

#grainyCircle {
    width: 55vw;
    height: 55vw;
    position: absolute;
    top:60%;
    left:5%;
    z-index: -1;
    filter: contrast(160%) brightness(250%);
    background: 
    linear-gradient(144deg, rgba(244,0,255,0.43), rgba(49,124,181,0.85)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.18' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    animation: left-to-right 250s linear forwards infinite;
  }

